<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text="" />
        </ion-buttons>
        @if (entry(); as entry) {
        <ion-title>
            {{ entry.name }}
        </ion-title>
        }
    </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false" class="ion-padding">
    <ion-list>
        @for (item of items(); track item.id) {
        <beta-app-list-item [href]="item.href" [name]="item.id" />
        } @empty {
        <div>Empty</div>
        }
    </ion-list>
</ion-content>
