<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button />
        </ion-buttons>
        <ion-title> {{ viewonly ? 'Bakım' : 'Yeni bakım' }} </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false" class="ion-padding" [formGroup]="form">
    <h2>Bakım Bilgileri</h2>
    @if (isLoading()) {
    <ion-skeleton-text style="width: 30%" />
    <ion-skeleton-text />
    } @else {
    <div
        class="task"
        [class.touched]="form.controls.type.touched"
        [class.valid]="form.controls.type.valid"
    >
        @if (viewonly) {
        <ion-input
            [readonly]="viewonly"
            label="Bakim Tipi"
            labelPlacement="stacked"
            placeholder="Bakim tipini secin"
            formControlName="type"
        />
        } @else {
        <ion-select
            label="Bakim Tipi"
            labelPlacement="stacked"
            placeholder="Bakim tipini secin"
            formControlName="type"
        >
            <ion-select-option value="Periyodik">Periyodik</ion-select-option>
            <ion-select-option value="Arıza">Arıza</ion-select-option>
        </ion-select>
        }
    </div>
    }
    <h2>Yapılacak İşler</h2>
    <ng-container formArrayName="maintenanceTasks">
        <ng-container
            *ngFor="let task of maintenanceTasks.controls; let i = index"
            [formGroupName]="i"
        >
            <div
                class="task"
                [class.touched]="task.touched"
                [class.valid]="task.valid"
            >
                <div class="task-header">
                    <h4>{{ i + 1 }}. {{ task.value.name }}</h4>

                    @if (isLoading()) {
                    <ion-skeleton-text style="width: 50%; margin: auto" />
                    } @else {
                    <beta-app-triple-selector formControlName="uygun" />

                    }
                </div>

                @if (isLoading()) {
                <ion-skeleton-text />
                <ion-skeleton-text />
                } @else {

                <ion-segment
                    formControlName="yapilanIs"
                    *ngIf="task.value.uygun === false"
                >
                    <ion-segment-button value="Onarıldı">
                        <ion-label>Onarıldı</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="Yenilendi">
                        <ion-label>Yenilendi</ion-label>
                    </ion-segment-button>
                </ion-segment>

                <ion-input
                    [readonly]="viewonly"
                    formControlName="description"
                    label="Açıklama"
                    labelPlacement="stacked"
                ></ion-input>
                }
            </div>
        </ng-container>
    </ng-container>

    @if (isLoading()) {
    <ion-skeleton-text class="ion-margin-top" />
    <ion-skeleton-text />
    } @else {
    <div class="task">
        <ion-input
            [readonly]="viewonly"
            formControlName="comments"
            [formControl]="form.controls.comments"
            label="Yorum"
            labelPlacement="stacked"
        ></ion-input>
    </div>
    }

    <!--  -->
    @if (!viewonly) {
    <ion-button
        (click)="submit()"
        expand="block"
        [disabled]="form.invalid || submitting()"
    >
        <ion-spinner
            *ngIf="submitting(); else buttonText"
            name="lines-sharp-small"
        ></ion-spinner>
        <ng-template #buttonText> Gönder </ng-template>
    </ion-button>
    }
</ion-content>
