<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button />
        </ion-buttons>
        @if (entry(); as entry) {
        <ion-title> {{ entry?.fields?.id }} </ion-title>
        }
    </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false" class="ion-padding">
    <ion-list>
        @if (entry(); as entry) {
        <!-- <ion-item>
            <ion-label>
                <h3>Id</h3>
                <p>{{entry.fields.id}}</p>
            </ion-label>
        </ion-item> -->
        @switch (entry.fields.contentType) {
        <!--  -->
        @case (IEquipmentTypes.RoofFan) {

        <beta-app-roof-fan-equipment [equipment]="entry.fields" />
        }
        <!--  -->
        @case (IEquipmentTypes.Test) {
        <div>test equipment</div>
        } } }
    </ion-list>
</ion-content>
