<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button />
        </ion-buttons>
        @if (entry(); as entry) {
        <ion-title> {{ entry?.fields?.id }} </ion-title>
        }
        <ion-buttons slot="end">
            <ion-button (click)="goToMaintenance()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [forceOverscroll]="false" class="ion-padding">
    <ion-list>
        @if (entry(); as entry) {
        <!-- <ion-item>
            <ion-label>
                <h3>Id</h3>
                <p>{{entry.fields.id}}</p>
            </ion-label>
        </ion-item> -->
        @switch (entry.fields.contentType) {
        <!--  -->
        @case (IEquipmentTypes.RoofFan) {

        <beta-app-roof-fan-equipment [equipment]="entry.fields" />
        }
        <!--  -->
        @case (IEquipmentTypes.Test) {
        <div>test equipment</div>
        } } }
    </ion-list>
    <div class="title-container">
        <h2>Bakım Formları</h2>
        <ion-button
            (click)="goToMaintenance()"
            shape="round"
            fill="clear"
            color="light"
        >
            <ion-icon name="add-outline"></ion-icon>
        </ion-button>
    </div>
    @if(maintenanceLoading()) {
    <ion-spinner name="dots" />
    } @else { @for(maintenance of maintenanceList(); track maintenance.href ) {
    <beta-app-list-item
        [name]="maintenance.createdAt"
        [href]="maintenance.href"
    />
    } @empty { Liste boş } }
</ion-content>
